site_name: DeltaPay API Documentation
site_url: https://deltapay.co.sz
site_author: Adrian Albert Koch
site_description: >-
  Official Documentation for the DeltaPay API.

theme:
  name: material
  # features:
  #   - navigation.tabs
  #   - navigation.sections
  #   - toc.integrate
  #   - navigation.top
  #   - search.suggest
  #   - search.highlight
  #   - content.tabs.link
  #   - content.code.annotation
  #   - content.code.copy
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    # - content.code.select
    # - content.footnote.tooltips
    # - content.tabs.link
    - content.tooltips
    # - header.autohide
    # - navigation.expand
    - navigation.footer
    - navigation.indexes
    # - navigation.instant
    # - navigation.instant.prefetch
    # - navigation.instant.progress
    # - navigation.prune
    - navigation.sections
    - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    # - toc.integrate
  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline 
        name: Switch to dark mode
      # primary: blue
      # accent: blue-grey
    - scheme: slate 
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode    
      # primary: blue
      # accent: blue-grey
# extra_css:
#   - styles/extra.css


plugins:
  - social
  - search

extra:
  social:
    - icon: fontawesome/brands/facebook
      link: https://www.facebook.com/DeltaPayEswatini
    - icon: fontawesome/brands/instagram
      link: https://www.instagram.com/deltapayeswatini
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/deltapay_eswatini

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg


nav:
  - Home: index.md
  - Getting Started:
    - Permissions: getting_started/permissions.md
    - Authentication: getting_started/authentication.md
    - Setup: getting_started/setup.md
    - Callbacks: getting_started/callbacks.md
  - Common Use Cases:
    - C2B: common_usecases/c2b.md
    - B2C: common_usecases/b2c.md
    - QR Code Spec: common_usecases/qr_code.md
    - Payment Requests: common_usecases/payment_requests.md
    - Signature Verification: common_usecases/signature_verification.md

copyright: |
  &copy; 2024 DeltaCrypt GmbH. All rights reserved.
